*{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #121212;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1{
  font-size: 2.25em;
  font-weight: 700;
  text-align: center;
}

h2{
  font-size: 1.75em;
  font-weight: 700;
}

h3 {
  font-size: 1.25em;
  font-weight: 700;
}

img{
  position:static;
  width: 100%;
}

video {
  width: 100%;
}

a{
  color: #1d254e;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #1d254e;
}
a:active{
  color: #1d254e;
}


/* Layout styling */
header {
  background-color: white;
  padding: 10px 0 4px;
  position: fixed;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #1d254e;
  display: inline-block;
  padding: 0 16px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}
nav > ul > li > a:hover{
  opacity: 0.8;
}
nav > ul > li > a:active{
  color: 	#1d254e;
}

#projects a {
  text-decoration: underline;
}

.fas.fa-angle-right{
  font-size: 20px;
  position: relative;
  top: 2px;
}

.navtoggle li:not(:last-child){
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
  padding-top: 10px;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li:last-child{
  padding: 0 0 10px;
}


main {
  padding-top: 67px;
}

.container {
  padding: 0 16px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#projects h2{
  text-align: center;
}

.img_wrap{
  position: relative;
  height: 600px;
  width: 600px;
}

.img_description {
  position: absolute;
  top: 10;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 12px;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img_wrap:hover .img_description {
  visibility: visible;
  opacity: 1;
}



#hero {
  background-color: #fff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#hero span {
  display: block;
}

.h1{
  margin-top: 24px;
  text-align: center;
  font-size: 2.25em;
}

.logo {
  max-width: 150px;
  text-align: center;
}

.personal-image img{
  border-radius: 50%;
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.h3{
  margin-top: 0;
}

.about {
  margin-top: 16px;
  padding-right: 50px;
}

.skills {
  text-align: center;
}

#aboutme {
  margin-top: 40px;
}

#aboutme .column{
  padding: 0 16px;
}
#aboutme ul{
  list-style-type: none;
}


.container h1{
  text-align: center;
  padding: 16px 0;
}

.callout {
  background-color: #e9f1fc;
  border: 2px solid #1d254e;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 56px auto;
  padding: 16px 8px;
  width: 100%;  
}

.quote {
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  text-align: center;
}

.h1-title{
  margin-bottom: 0;
}

#title span {
  display: block;
  text-align: center;
  margin-bottom: 8px;
}

[class*="col-"]{
  float: left;
  padding: 10px;
}

.row::after{
  clear: both;
  content: "";
  display: table;
}

.copyright{
  font-size: .95em;
  padding-top: 72px;
  text-align: center;
}

.methods .column {
  padding: 16px 72px;
}

.methods .row {
  flex-flow: row wrap;
}

.methods-h3{
  text-align: center;
}

.methods ul{
  list-style-type: none;
  padding-left: 0;
}

.container p{
  padding-left: 16px;
  padding-right: 16px;
}

.container h2 {
  padding: 16px 8px;
}

.container h3 {
  padding: 12px 16px;
}

#contact h2 {
  text-align: center;
  margin-top: 80px;
  padding-bottom: 0;
}

.error-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}



.container .scroll {
  padding-left: 16px;
  display: flex;
  justify-content: flex-end;
}

.socials {
  text-align: center;
}

.fab.fa-linkedin, .fab.fa-medium {
  font-size: 2em;
  margin: 16px;
  margin-left: 0;
}

.error-message {
  text-align: center;
  margin-top: 18px;
}


/* device styling */
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: right;
    margin-top: 4px;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li {
  display: inline-block;
  }

  .navtoggle li:not(:last-child){
    display: inline-block;
  }

  .navtoggle li:last-child{
    display: none;
  }

  main {
    padding-top: 99.8px;
  }

  body{
    font-size: 18px;
  }

  .logo{
    max-width: 200px;
  }


  .col-md-3 {
    width: 25%;
  }

  .col-md-4{
    width: 33.3%;
  }

  .col-md-6 {
    width: 50%;
  }

  .resume{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .align > ul {
    display: flex;
    justify-content: flex-end;
    align-content: center;
  }

  #image {
    justify-content: center space-around;
    margin: auto;
    max-width: 600px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 992px) {

  .col-lg-2 {
    display: block;
    width: 16.66%;
    margin-left: auto;
    margin-right: auto;
  }
  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4{
    width: 33.33%;
  }
  .col-lg-5 {
  width: 41.66%;
  }

  .col-lg-6{
    width: 50%;
  }

  .col-lg-7 {
  width: 58.33%
  }


  .resume{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

@media only screen and (max-width: 639px){
.column{
  width: 100%;
  float: left;
  }

  .col-sm-3{
    width: 33.33%;
  }
}



/* illustration animation */
.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0, 50px);}
  to {transform: translate(200px, 50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px, 48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* navigation bar animation */
li.topBotomBordersOut a:before, li.topBotomBordersOut a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #1d254e;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

li.topBotomBordersOut a:before
{
    top: 0px;
    transform: translateY(10px);
}

li.topBotomBordersOut a:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

li.topBotomBordersOut a:hover:before, li.topBotomBordersOut a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}

/* buttons */
.button {
  display: inline-block;
  background-color: #1d254e;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 8px;
  border-bottom: 2px solid #0e3976;
  transition-duration: 0.5s ;
  transition-property: opacity;
  margin-left: 16px;
  border-radius: 8px;
}
.button:hover {
  color: #fff;
  background-color: #1d254e;
}
.button:active{
  color:#fff;
}


.button.contact {
  background-color: transparent;
  color: #1d254e;
  text-transform: uppercase;
  border: 2px solid #1752a8;
  display: inline-block;
  margin: 16px;
  transition-duration: 0.5s ;
  transition-property: opacity;
}
.button.contact:hover {
  background-color: #1d254e;
  color: #ffffff;
}
.button.contact:active{
  color: #ffffff;
}

.button.resume {
  background-color: white;
  color: #1d254e;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid #0e3976;
  transition-duration: 0.5s ;
  transition-property: opacity;
  width: auto;
  margin-bottom: 32px;
}
.button.resume:hover {
  background-color: #0e3976;
  color: #ffffff;
}
.button.resume:active{
  color: #ffffff;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  text-transform: uppercase;
  border: none;
  outline: none;
  background-color: #1d254e ;
  color: white;
  cursor: pointer;
  padding: 16px;
  border-radius: 100%;
}
#myBtn:hover {
  background-color: #1d254e;
}
